
@import url(./rootaccount.css);

body{
    margin: 0 20px;
}

.mynews-row{
display: flex;
flex-direction: row;
height: 65px;
align-items: center;
}

.mynews-button-container{

}
.mynews-btn{
padding: 8px 40px;
background-color: transparent;
border: 0px;
transition: 250ms;
}
.mynews-btn:hover{
    background-color: var(--border-color);
}

.active{
    border-bottom: 1px solid var(--grayColor);
}


.mynews-contianer{
max-width: 600px;
}


.mynews-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mynews-img-container{
    border: 1px solid var(--border-color);
}
.mynews-img{
    width: 150px;
    height: 200px;
    object-fit: contain;
}
.mynews-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}
.row{
    display: flex;
    flex-direction: row;
  
}

.column-space-b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mybtn{
    background-color: transparent;
    padding: 8px 40px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    color: var(--grayColor);
}

.delete{
    background-color: rgba(255, 0, 0,0.5);
    color: white;
}