
@import url(./root.css);

.barter-first-section{
display:flex ;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
height: 60px;
}


.barter-first-section-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.barter-section-btn-div{
display: flex;
flex-direction: row;
align-items: center;
}

.barter-first-s-btn{
    font-size: 18px;
    background-color: transparent;
    border: none;
    }
.barter-first-s-btn:hover{
    border-bottom: 2px solid var(--grayColor);
    transition: 0.1s;
    cursor: pointer;
}

.barter-first-s-right-btn{
    border: 1px solid var(--grayColor);
    background-color: transparent;
    border-radius: 25px;
    width: 100px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    color:var(--grayColor);
    
}
.barter-first-s-right-btn:hover{
    background-color: var(--grayColor);
    color: white;
}

