*{
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
  
       
}

button{
    border: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(255, 52, 103);
}