:root{
--navbarbgColor:white;
--navbarHeight: 100px;
--grayColor:rgb(55, 73, 87);

--cardWidth:290px;
--cardHeight:388px;
--cardCashColor:rgb(0 149 212);
--cardborder:rgba(55, 73, 87,0.5);

--barter-show-title-fs:22px;
--barter-show-title-fw:500;
--barter-show-time-fs:12px;
--barter-show-time-fw:300;

--barter-show-two-fit-text-size:12px;
--barter-show-two-price-text:36px;
--barter-show-two-call-title-size:12px;
--barter-show-two-call-number-size:24px;
--barter-show-two-call-number-color:rgb(55, 73, 87);
--barter-show-two-price-text-color:rgb(55, 73, 87);
--barter-show-two-address-des-fs:18px;
--barter-show-two-sub-address-fs:12px;

--bs-fourth-line-b-color:rgb(55, 73, 87);

--small-card-width: 190px;
--small-card-height:288px;

--hearderGategory-fs:36px;
--headerGategory-c:rgb(55,73,87);
--headerGategory-ca:rgba(55,73,87,0.7);
--hearderGategorynumber-fs:30px;
}

a{
    text-decoration: none;
}